<!DOCTYPE html>
<html>

    <head>
        <title>Flash Cards</title>
        <link rel="stylesheet" type="text/css" href="css/reset.css"/>
        <link rel="stylesheet" type="text/css" href="css/style.css"/>
        <script src="js/lib/angular.js"></script>
        <script src="js/app.js"></script>
        <script src="js/controllers/MainController.js"></script>
        <script src="js/controllers/StatsController.js"></script>
        <script src="js/controllers/NewCardController.js"></script>
        <script src="js/factories/FlashCardsFactory.js"></script>
        <script src="js/factories/ScoreFactory.js"></script>
        <script src="js/directives/loader/loader.js"></script>
        <script src="js/directives/flash-card/flash-card.js"></script>
        <script src="js/directives/border-on-hover.js"></script>
        <script src="js/directives/error-message.js"></script>
        <script src="js/filters/cheat-filter.js"></script>
    </head>

    <body ng-app="FlashCards">

        <!-- <div ng-include="'templates/stats.html'">
        </div> -->

        <div ng-controller="NewCardController">
            <!-- <pre style="text-align: left">{{ newCard | json }}</pre -->

            <loader ng-show="submittingCard"></loader>

            <!-- <form name="newCardForm" ng-if="!submittingCard" ng-submit="newCardForm.$valid && submitNewCard(newCard)" novalidate>

                <error-message ng-show="newCardForm.$dirty && newCardForm.question.$error.required">
                    Question is required.
                </error-message>
                <error-message ng-show="newCardForm.question.$error.minlength">
                    Question is too short.
                </error-message>

                <input name="question" required ng-minlength="15" type="text" ng-model="newCard.question" /><br />

                <error-message ng-show="newCardForm.$submitted && newCardForm.category.$error.required">
                    Category is required!
                </error-message>

                <select name="category" required ng-model="newCard.category">
                    <option>MongoDB</option>
                    <option>Express</option>
                    <option>Angular</option>
                    <option>Node</option>
                </select><br />

                <div ng-repeat="answer in newCard.answers">
                    <input required name="answerText{{ $index + 1 }}" ng-maxlength="40" type="text" ng-model="answer.text" />
                    <input type="checkbox" ng-model="answer.correct" />
                </div>

                <button type="submit">Add new card!</button>

            </form> -->



        </div>

        <div ng-controller="MainController">

            <loader ng-show="cardsLoading"></loader>

            <div ng-hide="cardsLoading" class="button-nav">

                <button
                        class="category-button"
                        ng-click="getAllCards()"
                        ng-class="{ active: chosenCategory === 'All' }">
                    All Categories
                </button>

                <button
                        class="category-button"
                        ng-repeat="category in categories"
                        ng-click="getCategoryCards(category)"
                        ng-class="{ active: chosenCategory === category }">
                    {{ category }}
                </button>

                <div id="stats" ng-include="'templates/stats.html'">
                        </div>
                <flash-card card="entry" ng-repeat="entry in flashCards"></flash-card>

            </div>

        </div>

    </body>

</html>