@mixin clearfix {
  &:before, &:after {
    content: " "; /* 1 */
    display: table; /* 2 */
  }
  &:after {
    clear: both;
  }
}

// Colors
$header: #E1AA7D;
$answers: #BE8A60;
$card: #6A2E35;
$bg: #2E2836;
$accent: #B6D094;
$nope: #EFACA2;

* {
  box-sizing: border-box;
}

body {
  background: $bg;
}

@keyframes slideOut {
  from {
    transform: translateX(0);
  }
  to {
    transform: translate(200%);
  }
}
.button-nav {
  margin-top: 3%;
  text-align: center;
  button {
    background-color: rgb(194,191,191);
    padding: 12px;
    border-radius: 14%;
    margin: 4px;
    font-weight: bold;
  }
}
#stats {
  color: rgb(235, 226, 226);
}
#scoreboard {
  text-align: center;
  h3 {
    display: inline;
    margin: 2px 10px;
  }
}
.loading {
  text-align: center;
}
// .flipToggle:hover {
//   transform: rotateY(180deg);
// }
.flipCardCorrect {

  transform: rotateY(180deg);
  // background: $card;
  background: #000 url("../images/successKid.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 30%;

}

.flipCardIncorrect {
  transform: rotateY(180deg);
  // background: $card;
  background: #000 url("../images/grumpycat.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 30%;
}
.front, .back {
    backface-visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    max-width: 800px;
    min-height: 450px;
    padding: 50px;
    border-radius: 5px;
  }
  .front {
    z-index: 2;
    background: $card;
    // transform: rotateY(0deg);
  }
.back {
    transform: rotateY(180deg);
  }
// .flipper {
//   transition: 0.9s;
//   transform-style: preserve-3d;
//   position: relative;
// }
// .flash-card:hover .flipper, .flash-card.hover .flipper {
//     transform: rotateY(180deg);
//   }
.flash-card {
  transition: all 1s ease-in-out;
  // background: $card;
  width: 100%;
  max-width: 800px;
  min-height: 450px;
  margin: 0 auto;
  margin-top: 40px;
  border: 1px solid black;
  font-family: Helvetica;
  // padding: 50px;
  position: relative;
  // perspective: 1000;
  // transform-style: preserve-3d;
  transform-style: preserve-3d;
  position: relative;
  border-radius: 5px;

  // box-shadow: 3px 4px 5px 1px rgb(107, 107, 107);
  &:hover {
    // animation: slideOut 2s ease-in-out;
    // transform: translateX(200%); // slide out of view
    // transform: translateY(-110%); // slide up to replace previous card
  }

  h1 {
    font-size: 40px;
    text-align: center;
    margin-bottom: 40px;
    color: $header;
    font-family: Consolas,monaco,monospace;
  }

  h3 {
    position: absolute;
    top: 10px;
    left: 10px;
    color: $bg;
  }

  .flash-card-answers {
    @include clearfix;
    width: 100%;
    margin: 0 auto;
    clear:both;
    font-family: Calibri,Candara,Segoe,"Segoe UI",Optima,Arial,sans-serif;
    font-style: italic;

  }

  .flash-card-answer {
    transition: all 0.4s ease-in-out;
    // center vertically
    display: flex;
    justify-content: center;
    flex-direction: column;

    border-radius: 5px;

    background: $answers;
    min-height: 200px;
    text-align: center;
    border: 1px solid black;
    padding: 20px;
    float: left;
    width: 32%;
    margin-right: 2%;
    cursor: pointer;
    line-height: 1.3em;
    &:last-child {
      margin-right: 0;
    }
    &:hover {
      background-color: $header;
      transform: translateY(10px);
      // transform: rotateY(180deg);
      // background-color: $bg;
      box-shadow: 0px -1px 5px 2px #393734;
    }
  }

}

.answer-feedback {
  text-align: center;
  margin-top: 50px;
  font-weight: bold;
  &.correct {
    color: $accent;
  }
  &.incorrect {
    color: $nope;
  }
}